.card_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: -2rem;
}

.main_card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem 1.5rem;
  position: relative;
  overflow: hidden;
  background-color: var(--CardColor);
}

.main_card:hover {
  cursor: pointer;
  background-color: hsla(228, 34%, 66%, 0.271);
}

.user_details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0rem;
}

.facebook {
  width: 30px;
  height: 30px;
}

.user_name {
  color: var(--SubTitle-Text);
  font-weight: 800;
}

.followers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0rem 1.5rem;
}

.social_followers {
  color: var(--Card-Title-Text);
  font-size: 4.7rem;
  font-weight: bold;
}

.card_border {
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
}

.followers_title {
  color: var(--SubTitle-Text);
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 1rem;
}

.current_day {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.current_followers {
  font-weight: bold;
}
