@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tagesschrift&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

:root {
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram-linear-gradient: hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);
  --Toggle-linear-gradient: hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  --Toggle: hsl(230, 22%, 74%);
  --Very-Dark-Blue-BG: hsl(230, 17%, 14%);
  --Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
  --Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
  --Desaturated-Blue-Text: hsl(228, 34%, 66%);
  --White-Text: hsl(0, 0%, 100%);
  --White-BG: hsl(0, 0%, 100%);
  --Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
  --Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
  --Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
  --Very-Dark-Blue-Text: hsl(230, 17%, 14%);
}

/* Css Styles for dark mode */
:root {
  --BG: var(--Very-Dark-Blue-BG);
  --Title-Text: var(--White-Text);
  --SubTitle-Text: var(--Desaturated-Blue-Text);
  --Card-Title-Text: var(--White-Text);
  --CardColor: var(--Dark-Desaturated-Blue-Card-BG);
  --OverviewTitle: var(--White-Text);
  --OverviewLabel: var(--Desaturated-Blue-Text);
  --ToggleSwitch: var(--Very-Dark-Blue-BG);
  --ChangeColor: var(--White-Text);
  --BG-Top: var(--Very-Dark-Blue-Top-BG-Pattern);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Css styles for light mode */
[data-theme="light"] {
  --BG: var(--White-BG);
  --Title-Text: var(--Very-Dark-Blue-Text);
  --SubTitle-Text: var(--Dark-Grayish-Blue-Text);
  --Card-Title-Text: var(--Very-Dark-Grayish-Blue-Text);
  --CardColor: var(--Very-Pale-Blue-Top-BG-Pattern);
  --OverviewTitle: var(--Dark-Grayish-Blue-Text);
  --OverviewLabel: var(--Dark-Grayish-Blue-Text);
  --ToggleSwitch: var(--White-BG);
  --ChangeColor: var(--Lime-Green);
  --BG-Top: var(--Very-Pale-Blue-Top-BG-Pattern);
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--BG);
  justify-content: center;
}

.head_title {
  background-color: var(--BG-Top);
  padding: 0rem 2rem 2rem;
}

.header_top {
  border-bottom: 1px solid var(--OverviewLabel);
  margin: 2rem 0rem;
}

.board_title {
  color: var(--Title-Text);
  font-size: 1.5rem;
}

.total_followers {
  margin: 0.5rem 0rem 1.5rem;
}

.total_followers,
.title {
  color: var(--SubTitle-Text);
  font-weight: 600;
}

.theme_switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.overview_section {
  padding: 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
}

.main_board {
  padding: 0rem 2rem;
}

/* Breakpoint: Tablets (≥600px) */
@media screen and (min-width: 600px) {
  .head_title {
    padding: 0rem 2rem 7rem;
  }

  .board_title {
    font-size: 2rem;
  }
  .header_top {
    border-bottom: none;
  }

  .card_container {
    margin-top: -7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }

  .header_subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .theme_switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }

  .overview_maincard_board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    padding: 1rem 0rem 0rem;
  }

  .overview_section {
    padding: 4rem 0rem 2rem;
  }
}

/* Breakpoint: Desktops (≥1000px) */
@media screen and (min-width: 1200px) {
  .card_container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }

  .overview_maincard_board {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }
}

/* Breakpoint: Large Desktops (≥1400px) */
@media screen and (min-width: 1400px) {
  .card_container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5rem;
  }

  .overview_maincard_board {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5rem;
  }

  .overview_card {
    padding: 1.8rem;
  }

  .head_title {
    padding: 0rem 10rem 7rem;
  }

  .main_board {
    padding: 0rem 10rem;
  }
}
